// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-size: 40px;
}

p {
  border-left: 5px solid rgb(240,240,240);
  padding-left: 15px;
  font-size: 24px;
  font-weight: 400;
  &:hover {
    background-color: #FFFEE1;
  }
}

a {
  text-decoration: none;
}

form {
  width: 300px;
  font-size: 24px;
  input[type=text] {
    border-radius: 5px;
    height: 20px;
  }
  input[type=submit] {
    background-color: #327AB8;
    border-radius: 5px;
    color: white;
    padding: 5px;
  }
}
